.image-item {
    display: inline-block;

}
.del-image-item {
    /*width: 50%;*/
    /*margin: 0 auto;*/
    /*padding-top: 5px;*/
}

.glyphicon {
    padding: 5px;
}

.ui-sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.ui-sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html > body .ui-sortable li { height: 3.1em; line-height: 1.2em; }