.t-blur-box
  display: block
  margin: 0 0 8px
  width: 100%
  padding: 16px
  position: relative
  &__background
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(111, 111, 111, 0.4)
    filter: blur(0px)
  &__title
    color: #ffffff
    font-size: 16px
    margin: 0
    font-family: $bold
    max-height: 38px
    overflow: hidden
    position: relative
    z-index: 2
  &__date
    color: #ffffff
    position: relative
    z-index: 2
    margin: 8px 0 0