@font-face
  font-family: "FuturaBold"
  src: url("../fonts/FuturaBold/FuturaBold.eot")
  src: url("../fonts/FuturaBold/FuturaBold.eot?#iefix")format("embedded-opentype"), url("../fonts/FuturaBold/FuturaBold.woff") format("woff"), url("../fonts/FuturaBold/FuturaBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'ubuntubold'
  src: url('../fonts/ubuntu/ubuntu.eot')
  src: url('../fonts/ubuntu/ubuntu.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu/ubuntu.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu.woff') format('woff'), url('../fonts/ubuntu/ubuntu.ttf') format('truetype'), url('../fonts/ubuntu/ubuntu.svg#ubuntubold') format('svg')
  font-weight: normal
  font-style: normal



@font-face
  font-family: 'futura'
  src: url('../fonts/futuralightc.woff2') format('woff2'), url('../fonts/futuralightc.woff') format('woff')
  font-weight: normal
  font-style: normal

$bold: 'ubuntubold'
$light: 'futura'

$yeallow: #FFD919
$logo: #172D44
$pear: #96CC29

$green: #44CC29
$red: #EB5757

$black: #4F4F4F
$grey: #BDBDBD
$grey_light: #BDBDBD

$background: #F2F5FA
$white: #ffffff

$blue: #1AB3FF

@media (min-width: 770px)
  .only-mobyle
    display: none!important
  .t-btn
    &:hover
      background: #FFD400
    &_border:hover
      border-color: #FFD919
  .jq-selectbox__dropdown, .ui-autocomplete
    li:hover
      background: rgba(255, 217, 25, .1)
  .ui-datepicker
    td
      a:hover
        background: $yeallow

html, body
  width: 100%
  min-height: 100vh

body
  margin: 0
  padding: 0
  position: relative
  font-family: $light
  font-weight: normal
  font-size: 17px
  background: #F2F5FA
  color: $black
  padding-bottom: 59px
  &.overflow
    overflow: hidden

.t-overflow_preload
  z-index: 99999999999
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  background: rgba(255,255,255, .8)
  img
    animation: spin2 1s infinite linear

a
  text-decoration: none
  cursor: pointer
  color: $black

.hidden
  display: none!important

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent

._right
  float: right

[data-fancybox]
  outline: none

h1,h2,h3, b, strong
  font-family: $bold
  font-weight: normal
h1
  font-size: 37px
  margin: 40px 0 16px
  text-align: center
  &.white
    color: $white
    position: relative
    z-index: 5
h2
  font-size: 27px
  margin: 0 0 8px
h3
  font-size: 17px
  margin: 0 0 8px
p
  margin: 0 0 16px

select
  appearance: none

.t-title
  font-size: 37px
  color: $white
  margin: 0 0 8px
  text-align: center
  text-transform: uppercase

.t-work-area
  width: 980px
  max-width: 100%
  margin: 0 auto
  background: $white
  padding: 40px
  &_registration
    width: 736px
    position: relative
    background: transparent
    overflow: hidden
    > *
      position: relative
      z-index: 2
    h2
      color: $white
    p
      color: $white
  &_blur
    width: 960px
    padding: 32px
    position: relative
    background: transparent
    border-radius: 2px
    > *
      position: relative
      z-index: 2
    h2
      color: $white
      margin: 0 0 16px
    p
      color: $white
  &_blur__box
    width: 100%
    background: $white
    padding: 24px
    border-radius: 2px
    p
      color: $black
    + h2
      margin-top: 32px!important
  &_blur__box_30
    width: 288px
    display: inline-block
    vertical-align: top
    margin-right: 16px
    margin-bottom: 16px
    padding: 16px
    &:nth-child(3n)
      margin-right: 0
  &__background
    background: rgba(111, 111, 111, 0.4)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
  &._margin
    margin-bottom: 100px
.t-btnBox
  .t-btn + .t-btn
    margin-left: 8px
.t-btn
  display: inline-block
  padding: 0 20px
  line-height: 32px
  outline: none
  background: linear-gradient(to right, rgba(255,212,0,1) 0%,rgba(255,230,102,1) 100%)
  border-radius: 16px
  color: $black
  border: none
  font-family: $light
  font-weight: normal
  font-size: 17px
  cursor: pointer
  transition: none
  &_border
    border: 1px solid $grey_light
    background: transparent
    line-height: 30px
    &[disabled], &.disabled
      border-color: $background
      background: transparent
      color: $grey
  &_white
    color: #FFFFFF
  &_120
    width: 120px
    padding: 0
    text-align: center
  &[disabled], &.disabled
    background: $background
    pointer-events: none
.t-btn_img
  color: $black!important
  cursor: pointer
  &:before
    content: ''
    width: 24px
    height: 24px
    background: #ffd919 url(../img/add.png) no-repeat 50%
    border-radius: 100%
    display: inline-block
    vertical-align: middle
    margin-right: 16px
.tabs
  width: 373px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: baseline
  a
    font-size: 27px
    color: $grey
    transition: all .2s
    &.active
      color: $black
  i
    width: 6px
    height: 14px
    background: url('../img/tabs.png') no-repeat center
    transition: all .2s
    &.scale
      transform: scale(-1, 1)
@supports not (display: flex)
  .tabs
    text-align: center
    display: table
    a
      &:first-child
        float: left
      &:last-child
        float: right


.flip-container
  perspective: 1000
  &.open
    .flipper
      transform: rotateY(180deg)
.flipper
  width: 100%
  height: 100%
  transition: 0.5s
  transform-style: preserve-3d
  position: relative
  > div, > form
    backface-visibility: hidden
    position: absolute
    width: 100%
    top: 0
    left: 0
    display: block
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    overflow: hidden
    &.front
      -webkit-transform: translate3d(0,0,0)

  .back
    transform: rotateY(180deg)

main
  padding-top: 88px
  position: relative
  z-index: 2
  padding-bottom: 119px
  &.t-page_home
    background: $white

.t-page_text__data
  font-size: 17px
  margin: 0 0 16px
  color: $grey
.t-error-page
  width: 900px
  max-width: 100%
  margin: 106px auto 0
  text-align: center
  img
    margin: 0 auto 24px
  h1
    margin: 0

.jq-selectbox
  position: relative
  display: inline-block
  z-index: 10
  width: 100%
  select
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: 0
    padding: 0
    opacity: 0
  li
    user-select: none
    white-space: nowrap
  &__select
    position: relative
    cursor: pointer
    margin: -16px -16px 0
    padding: 16px 16px 0
    border-radius: 2px 2px 0 0
    &-text
      overflow: hidden
      user-select: none
      white-space: nowrap
      text-overflow: ellipsis
      width: 100%!important
      border-bottom: 1px solid $grey_light
      padding: 0 0 8px
  &.white
    .jq-selectbox__select-text
      color: #ffffff
  &__trigger-arrow
    position: absolute
    right: 16px
    top: 26px
    width: 10px
    height: 6px
    background: url('../img/more.png') no-repeat center
    background-size: contain
  &__dropdown
    position: absolute
    left: -16px
    right: -16px
    top: 100%
    background: #ffffff
    box-shadow: 0 4px 24px 0 rgba(23,45,68,0.05)
    padding: 16px 0
    border-radius: 0 0 2px 2px
    .scroll-element
      div
        position: absolute
        display: block
        height: 100%
        left: 0
        top: 0
        width: 100%
        border-radius: 3px
      &.scroll-y
        position: absolute
        height: 100%
        right: 0
        top: 0
        width: 6px
      &.scroll-x
        position: absolute
        width: 100%
        left: 0
        bottom: 0
        height: 6px
      .scroll-element_outer
        overflow: hidden
        background: rgba(0,0,0,.3)
      .scroll-bar
        background: $yeallow
    ul
      list-style-type: none
      max-height: 156px!important
      overflow-y: scroll
      overflow-x: hidden
    li
      margin: 0 0 4px
      padding: 0 16px
      line-height: 24px
      cursor: pointer
      position: relative
      &.hidden_option
        display: none
      &:last-child
        margin-bottom: 0
      &.disabled
        display: none
  &.t-bigSelect
    width: auto
    margin: 0 0 16px 0
    .jq-selectbox__select-text
      padding: 0 20px 0 0
      border: none
      color: $white
      font-size: 27px
      font-family: $bold
      width: auto!important
    li
      font-size: 17px
      font-family: $bold
      margin: 0 0 8px
      &.sel
        display: none

  &.disabled
    .jq-selectbox__select
      cursor: default
    .jq-selectbox__select-text
      border: none
    .jq-selectbox__trigger-arrow
      display: none
  &.opened
    z-index: 12!important
    .jq-selectbox__select
      background: #ffffff
      box-shadow: 0 4px 24px 0 rgba(23,45,68,0.05)
    .jq-selectbox__select-text
      color: $black
    .jq-selectbox__trigger-arrow
      transform: scale(1, -1)

  &.error
    .jq-selectbox__select-text
      border-color: $red

  &.js-selectSearch
    .jq-selectbox__dropdown
      top: 0!important
      padding-top: 0
      ul
        overflow-y: scroll
    .jq-selectbox__search
      padding: 0 16px
      margin-bottom: 16px
    .jq-selectbox__not-found
      padding: 0 16px

.t-custom-select
  position: relative
  z-index: 11
  cursor: pointer
  margin: -16px -16px 0
  padding: 16px 16px 0
  border-radius: 2px 2px 0 0
  &__result
    overflow: hidden
    user-select: none
    white-space: nowrap
    text-overflow: ellipsis
    width: 100%
    border-bottom: 1px solid $grey
    padding: 0 0 8px
    position: relative
    z-index: 2
    &:after
      content: ''
      position: absolute
      right: 0
      top: 10px
      width: 10px
      height: 6px
      background: url(../img/more.png) no-repeat 50%
      background-size: contain

  &__options
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    background: #fff
    box-shadow: 0 4px 24px 0 rgba(23,45,68,.05)
    padding: 61px 16px 16px
    border-radius: 0 0 2px 2px
    z-index: 1
    ul
      list-style-type: none
      max-height: 135px!important
      overflow: scroll

  &.open
    z-index: 12
    .t-custom-select__options
      display: block

  &.disabled
    pointer-events: none
    .t-custom-select__result
      border-bottom: none
      &:after
        content: none

.t-background-img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
  z-index: 1
  img
    width: 100%
    height: 100%
    object-fit: cover
    float: left
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(1, 27, 45, 0.7)
    z-index: 1

.ui-accordion-header
  outline: none
  cursor: pointer
.ui-accordion-header-icon
  float: right
  width: 10px
  height: 10px
  background: url(../img/accordion.png) no-repeat center
  margin-top: 10px
.ui-accordion-content
  padding: 0 0 32px
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-wrap: wrap

.radio
  vertical-align: top
  width: 16px
  height: 16px
  margin: 0 7px 0 0
  + label
    cursor: pointer
    margin: 0 0 8px
    display: block
    z-index: 11
  &:not(checked)
    position: absolute
    opacity: 0
    + label
      position: relative
      padding: 0 0 0 23px
      &:before
        content: ''
        position: absolute
        top: 2px
        left: 0
        width: 16px
        height: 16px
        border: 1px solid $grey_light
        border-radius: 100%
        transition: all .2s
        box-sizing: border-box
      span
        color: $grey_light
        font-family: $light
        display: inline-block
        vertical-align: middle
        margin: 0 0 0 8px
        height: auto
    &:disabled
      + label
        color: $grey
        cursor: default
        pointer-events: none
  &:checked
    + label
      &:before
        border: 2px solid $yeallow
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2)
    &:disabled
      + label
        color: $grey
        cursor: default
        pointer-events: none
        &:before
          border-color: $grey_light

.checkbox
  vertical-align: top
  width: 16px
  height: 16px
  margin: 0 8px 0 0
  + label
    cursor: pointer
    margin: 0 0 8px
    display: block
  &:not(checked)
    position: absolute
    opacity: 0
    + label
      position: relative
      padding: 0 0 0 32px
      &:before
        content: ''
        position: absolute
        top: 2px
        left: 0
        width: 24px
        height: 16px
        border: 1px solid $grey_light
        border-radius: 8px
        transition: all .2s
        box-sizing: border-box
      &:after
        content: ''
        position: absolute
        top: 4px
        left: 2px
        width: 12px
        height: 12px
        background: $grey_light
        border-radius: 100%
        transition: all .2s
    &:disabled
      + label
        color: $grey
        cursor: default
        pointer-events: none
  &:checked
    + label
      &:before
        background: $yeallow
      &:after
        background: $white
        left: 10px
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2)
    &:disabled
      + label
        color: $grey
        cursor: default
        pointer-events: none
        &:before
          background: $grey_light

.t-select
  position: relative
  input
    background-image: url(../img/more.png)
    background-repeat: no-repeat
    background-position: 100% 14px
    position: relative
    z-index: 11
    &:disabled
      background: none

.ui-autocomplete
  z-index: 10
  background: #ffffff
  top: 29px!important
  left: -16px!important
  right: -16px!important
  padding: 16px
  position: absolute
  width: auto!important
  list-style-type: none
  box-shadow: 0 4px 24px 0 rgba(23,45,68,.05)
  border-radius: 0 0 2px 2px
  max-height: 180px
  overflow: hidden
  li
    margin: 0 0 4px
    line-height: 24px
    cursor: pointer
    position: relative
    &:before
      content: ""
      position: absolute
      top: 0
      left: -16px
      width: 0
      height: 0
      border-top: 12px solid transparent
      border-bottom: 12px solid transparent
      border-left: 8px solid $grey_light
      opacity: 0
      transition: all .2s

.scroll-wrapper
  overflow: hidden !important
  padding: 0 !important
  position: relative
  > .scroll-content
    border: none !important
    box-sizing: content-box !important
    height: auto
    left: 0
    margin: 0
    max-height: none
    max-width: none !important
    overflow: scroll !important
    padding: 0
    position: relative !important
    top: 0
    width: auto !important
    &::-webkit-scrollbar
      height: 0
      width: 0

.scroll-element
  display: none
  box-sizing: content-box
  div
    box-sizing: content-box
  &.scroll-x.scroll-scrollx_visible,
  &.scroll-y.scroll-scrolly_visible
    display: block
  .scroll-bar,
  .scroll-arrow
    cursor: default


.scrollbar-inner
  > .scroll-element,
  > .scroll-element div
    border: none
    margin: 0
    padding: 0
    position: absolute
    z-index: 10

  > .scroll-element
    div
      display: block
      height: 100%
      left: 0
      top: 0
      width: 100%

    &.scroll-x
      bottom: 0
      height: 2px
      left: 0
      width: 100%

    &.scroll-y
      height: 100%
      right: 0
      top: 0
      width: 2px

    .scroll-element_outer
      overflow: hidden

    .scroll-element_outer,
    .scroll-element_track,
    .scroll-bar
      border-radius: 2px

    .scroll-element_track
      background: $grey
    .scroll-bar
      background-color: $yeallow

.ui-slider
  width: 100%
  margin-bottom: -2px
  height: 14px
  position: relative
  cursor: pointer
  &:before
    content: ''
    position: absolute
    top: 50%
    transition: translate(0, -50%)
    left: 0
    width: 100%
    height: 1px
    background: #E0E0E0

  .ui-slider-range
    position: absolute
    top: 50%
    transition: translate(0, -50%)
    height: 1px
    background: $yeallow

  span
    outline: none
    margin: 0!important
    position: absolute
    top: 0
    width: 0!important
    height: 0!important
    border-top: 7px solid transparent
    border-bottom: 7px solid transparent
    &:last-child
      border-right: 7px solid $yeallow
      margin-left: -7px!important
    &:nth-last-child(2)
      border-left: 7px solid $yeallow

.ui-datepicker
  background: #ffffff
  border-radius: 2px
  box-shadow: 0 4px 24px 0 rgba(23,45,68,.05)
  padding: 16px
  &-header
    text-align: center
    margin: 0 0 8px
    .ui-datepicker-prev
      float: left
    .ui-datepicker-next
      float: right
      transform: scale(-1,1)
    a
      width: 6px
      height: 14px
      background: url('/img/tabs.png') no-repeat center
      margin-top: 2px
    .ui-datepicker-title
      width: 100%
      padding: 0 16px
      font-size: 18px
  th
    font-weight: normal
    font-family: $bold
    font-size: 18px
  td
    text-align: center
    a
      display: block
      width: 30px
      line-height: 30px
    &.ui-datepicker-current-day
      a
        background: $yeallow

.t-templates
  display: none!important

.t-show-more
  display: flex
  justify-content: center
  width: 100%
  margin-top: 40px

.t-flexBox
  display: flex
  flex-wrap: wrap

.t-defaultMsg
  text-align: center
  width: 592px
  padding: 0 20px
  max-width: 100%
  margin: 48px auto 188px
  h2
    margin: 0
  p
    font-family: $bold
    margin: 0

  &_file
    margin: 0 auto
    padding: 149px 20px
    text-align: center
    max-width: 100%
    width: 440px
    h2
      color: $grey
      margin: 0
    p
      font-family: $bold
      color: $grey
      margin: 0 0 16px
    .t-load-file
      margin: 0

.clearfix
  &:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0
@media (max-width: 769px)
  html, body
    min-width: 320px
  main
    z-index: 11
    padding: 112px 0 80px
    &.t-page_home
      padding: 0 24px 80px
  .tabs
    align-items: center
    max-width: 100%
    a
      font-size: 14px
      font-family: $bold
  .swiper-container
    padding-bottom: 40px
  .swiper-pagination
    bottom: 0
  .swiper-pagination-bullet-active
    background: $yeallow
  .t-work-area
    padding: 16px
  h1
    font-size: 17px
    margin: 0 0 16px
  h2
    font-size: 17px
  h3
    font-size: 14px
  .jq-selectbox__dropdown
    ul
      overflow: scroll

  .t-btnBox
    text-align: center
    .t-btn
      margin: 0 auto
      + .t-btn
        margin-left: auto
        margin-top: 8px

  .t-work-area_blur__box_30
    width: 100%
    margin-right: 0

  select.js-styler, select.js-selectSearch
    border-radius: 0
    width: 100%
    font-size: 17px
    height: 29px
    font-family: $light
    border: none
    border-bottom: 1px solid $grey
    background: transparent
    padding: 0 0 8px
    outline: none
    color: $black
    background-image: url(../img/more.png)
    background-repeat: no-repeat
    background-position: 100% 14px
    &:disabled
      border: none
      padding-bottom: 9px
      background: none

  .t-error-page
    margin-top: 0px

  .t-background-img
    position: fixed
    height: 100vh

  .not_mobile
    display: none!important