@media (min-width: 770px)
  .t-dialogPage__columnLeft .t-userItem:hover
    background: rgba(255, 217, 25, 0.1)
  .t-newMsg
    &__files:hover
      path
        stroke: $yeallow
    button:hover
      path
        stroke: $yeallow
  .t-userItem_selected__arrow:hover
    path
      stroke: $yeallow

.t-dialogPage
  display: flex
  align-items: flex-start
  justify-content: space-between
  &__columnLeft
    flex: none
    width: 288px
    margin-right: 8px
    padding: 12px 0
    background: #ffffff
    border-radius: 2px
  &__columnRight
    flex: 1

.t-userItem
  width: 100%
  padding: 13px 24px
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  transition: background .2s
  &__img
    width: 40px
    height: 40px
    flex: none
    border-radius: 50%
    margin-right: 8px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__info
    flex: 1
  &__name
    color: $black!important
    font-size: 14px
    margin: 0 0 8px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-family: ubuntubold, Arial, sans-serif
  &__date
    color: $black!important
    margin: 0
  &__rate
    font-family: ubuntubold, Arial, sans-serif
    color: $grey!important
    font-size: 14px
    margin: 0
  &._active
    background: rgba(255, 217, 25, 0.1)
  &._new
    &:after
      content: ''
      position: absolute
      right: 24px
      top: 50%
      width: 4px
      height: 4px
      background: $red
      border-radius: 50%
      margin-top: -2px

.t-userItem_selected
  background: #ffffff
  width: 100%
  border-radius: 2px
  padding: 16px
  margin-bottom: 8px
  position: relative
  .t-userItem
    padding: 0
  &__arrow
    position: absolute
    top: 12px
    right: 22px
    cursor: pointer
    z-index: 2
    transition: all .2s
    &._close
      transform: scale(1, -1)
  &__info
    margin-bottom: 16px
  &__task
    .t-input
      width: 50%
      margin-bottom: 16px
      p
        margin: 0
        color: $grey!important

.t-dialogBox
  background: #ffffff
  border-radius: 2px
  &__container
    padding: 16px
    height: 100%
  .scrollbar-inner
    height: 400px

.t-newMsg
  width: 100%
  border-top: 1px solid #E0E0E0
  padding: 16px 77px 16px 16px
  position: relative
  textarea
    padding: 0
    border: none
    height: 19px
  button
    position: absolute
    background: transparent
    border: none
    outline: none
    cursor: pointer
    top: 18px
    right: 17px
    path
      transition: all .2s
  &__files
    overflow: hidden
    position: absolute
    right: 51px
    top: 18px
    label
      cursor: pointer
    path
      transition: all .2s
    input
      position: absolute
      left: -9000000px
      width: 0
      height: 0
      opacity: 0
      padding: 0
      border: none
      font-size: 0

.t-userMsg
  display: flex
  width: 100%
  flex-direction: column
  margin-bottom: 24px
  &_left
    align-items: flex-start
  &_right
    align-items: flex-end
  &:last-child
    margin-bottom: 0
  &__date
    margin-bottom: 16px
    color: $grey
  &__text
    color: $black
    + .t-userMsg__file
      margin-top: 16px
  &__file
    display: flex
    align-items: center
    img
      margin-right: 11px
    span
      color: $grey
    + .t-userMsg__file
      margin-top: 8px

.t-fileList
  background: #F7F7F7
  padding: 16px
  h4
    color: $black
    font-family: ubuntubold,Arial,sans-serif
    font-weight: normal
    font-size: 14px
    margin-bottom: 8px
  &__weight
    margin-bottom: 24px
  &__items
    display: flex
    flex-direction: column

.t-newMsg-files__item
  margin-top: 16px
  &:first-child
    margin-top: 0
  > div
    display: flex
    align-items: center
    justify-content: flex-start
    position: relative
    span
      color: $grey
    a
      position: absolute
      right: 0
      top: 2px
  img
    margin-right: 10px