footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 21px 40px 16px
  background: $logo
  z-index: 10
  a, p
    color: #FFF
  p
    margin-bottom: 0

.t-footer__menu
  a
    display: inline-block
    vertical-align: middle
    margin: 0 30px 0 0
    &:last-child
      margin-right: 0

@media (max-width: 769px)
  footer
    padding: 21px 24px 16px
  .t-footer__menu
    display: none