@media(min-width: 770px)
  .t-tag-list__box
    &:not(.disabled)
      p:hover
        span
          opacity: 1
  .t-load-file
    li
      a:hover
        path
          fill: $yeallow


.ui-dialog
  position: absolute
  max-width: 100%
  z-index: 10000
  outline: none
  .t-dialog-form
    position: relative
    opacity: 1
    max-height: 100vh
  &_task
    top: 50% !important
    position: fixed!important
    transform: translateY(-50%)
    max-height: 100vh
.ui-dialog-title
  display: none
.ui-dialog-titlebar-close
  display: none
.t-dialog-close
  position: absolute
  top: 32px
  right: 24px
  width: 18px
  height: 18px
  font-size: 0
  text-indent: 9999px
  border: none
  outline: none
  background: transparent
  cursor: pointer
  z-index: 2
  span
    position: absolute
    top: -3px
    width: 4px
    height: 24px
    border-right: 2px
    background: $grey_light
    &:first-child
      left: 7px
      transform: rotate(45deg)
    &:last-child
      left: 7px
      transform: rotate(-45deg)
.ui-widget-overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,.6)
  z-index: 9999

.t-dialog-form
  position: absolute
  opacity: 0
  width: 896px
  max-width: 100%
  h2
    font-size: 27px
    margin: 0 0 16px
  p
    margin: 0 0 16px
  hr
    margin: 0 -24px 32px
    border: none
    height: 1px
    background: #f2f2f2

.t-new-task-form
  background: #ffffff
  width: 100%
  padding: 24px
  h2
    color: $black

.t-input-box
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  align-items: flex-start
.t-input-box__buttons
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  > *
    margin: 0!important
  &_right
    justify-content: flex-end
  &_left
    justify-content: flex-start
    .t-btn
      margin-right: 8px!important
  .t-del_task
    position: absolute
    right: 30px
    bottom: 5px
.t-input
  width: 100%
  margin: 0 0 24px
  position: relative
  span
    font-size: 17px
    font-family: $bold
    margin-bottom: 8px
    display: block
    height: 19px
    &.hint
      font-family: $light
      margin: 16px 0 0
      color: #E0E0E0
      height: auto
  a
    margin: 16px 0 0
    display: inline-block
    color: #E0E0E0
  &.error
    input, textarea, .t-input_date, select
      border-color: $red
    .jq-selectbox__select-text
      border-color: $red
  &_30
    display: inline-block
    vertical-align: top
    margin-right: 1.887%
    width: 32.076%
    &:nth-child(3n)
      margin-right: 0
  &_60
    display: inline-block
    vertical-align: top
    width: 66.039%
    margin-right: 0
  input + input
    margin-top: 24px
    + label
      margin-top: 24px
  &_file
    width: 170px
    height: 170px
    display: inline-block
    vertical-align: top
    margin: 8px 8px 0 0
    position: relative
    &:nth-child(5n)
      margin-right: 0
  &_file-list
    margin: -8px 0 16px
  &_file__preview
    width: 100%
    height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
  &_search
    position: relative
    button
      background: none
      border: none
      position: absolute
      right: 0
      bottom: 11px
  &__slider
    ul
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      list-style-type: none
      margin-bottom: 2px
      li
        width: 40%
        &:last-child
          input
            text-align: right
      input
        padding: 0
        margin: 0
        border: none
        height: auto
  &_small-margin
    margin-bottom: 16px

@supports not (display: flex)
  .t-input-box
    display: inline-block
    width: 100%
  .t-input_30
    margin-right: 1.5%
    width: 32%
    &:nth-child(3n)
      margin-right: 0

input, textarea, .t-input_date
  width: 100%
  font-size: 17px
  height: 29px
  font-family: $light
  border: none
  border-bottom: 1px solid $grey_light
  background: transparent
  padding: 0 0 8px
  outline: none
  color: $black
  &::-webkit-input-placeholder
    color: #E0E0E0
  &::-moz-placeholder
    color: #E0E0E0
  &:-moz-placeholder
    color: #E0E0E0
  &-ms-input-placeholder
    color: #E0E0E0
  &:-webkit-autofill
    background: transparent!important
  &:disabled
    border: none
    padding-bottom: 9px
.t-input_date
  cursor: pointer
  &.disabled
    cursor: default
    pointer-events: none
    border: none
    padding-bottom: 9px
textarea
  overflow: hidden
  box-sizing: content-box
  padding: 0
  //&:disabled
  //  height: 21px!important
  //  overflow: hidden!important

.t-fileLoad
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  border: 1px dashed $grey
  border-radius: 2px
  cursor: pointer
  input
    display: none
  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 32px
    height: 32px
    background: $yeallow url('../img/add.png') no-repeat center
    border-radius: 100%
    margin: auto
  &_del
    border: none
    &:before
      background-color: #ffffff
      transform: rotate(45deg)

  &.load
    &:before
      background: url('/img/bonus1.png') no-repeat center
      animation: spin2 1s infinite linear


textarea
  resize: none

.t-social-auth
  margin: 0 0 32px
  display: flex
  align-items: stretch
  justify-content: flex-start
  .ulogin-buttons-container
    width: 100%!important
    div
      outline: none!important
      display: inline-block!important
      width: 30px!important
      height: 30px!important
      margin: 0 8px 0 0!important
      position: relative!important
      float: none!important
  .ulogin-button-facebook
    background: url('../img/social/fb.png') no-repeat center!important
  .ulogin-button-vkontakte
    background: url('../img/social/vk.png') no-repeat center!important
  .ulogin-button-odnoklassniki
    background: url('../img/social/ok.png') no-repeat center!important
  .ulogin-button-google
    background: url('../img/social/gp.png') no-repeat center!important
  a
    outline: none
    display: inline-block
    width: 30px
    height: 30px
    margin: 0 8px 0 0
    position: relative
    svg
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto

#auth_reg
  .flip-container
    height: 488px!important
  .front, .back
    background: #ffffff
    padding: 24px
    border-radius: 2px
  .t-btn
    margin: 0 16px 0 0
  .tabs
    width: 100%
    margin-bottom: 20px
    a
      font-size: 20px
#new_password
  background: #ffffff
  padding: 24px
  border-radius: 2px
  .t-btn
    padding: 0
    display: block
    width: 100%
    text-align: center
#create_password
  background: #ffffff
  padding: 24px
  border-radius: 2px
#reject_dialog
  display: none
.t-dialog_succes
  background: #fff
  border-radius: 2px
  padding: 24px
  h2
    color: $black
  span
    color: $grey
    margin: 0 0 16px
    display: block
  .t-btn[disabled]
    padding: 0
    display: block
    width: 100%
    text-align: center
    span
      display: inline

.t-dialog_error
  position: absolute
  left: 0
  width: 100%
  top: 100%
  margin-top: 8px
  background: $red
  padding: 10px
  text-align: center
  color: #ffffff
.t-msg_error
  margin-top: 24px
  background: $red
  padding: 10px
  text-align: center
  color: #ffffff

.t-tag-list
  &__box
    list-style-type: none
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-start
    border-bottom: 1px solid $grey
    li
      margin-right: 5px
      max-width: 100%
      margin-bottom: 8px
      &:last-child
        width: 100%
    p
      margin: 0
      background: #f1f1f1
      line-height: 30px
      border-radius: 15px
      padding: 0 10px
      text-align: center
      transition: all .2s
      cursor: pointer
      position: relative
      overflow: hidden
      color: $black
      span
        height: auto
        margin: 0
        opacity: 0
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transition: all .2s
        background: rgba(0,0,0,.4)
        &:before
          content: ''
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: auto
          background: url(../img/accordion.png) no-repeat center
          width: 10px
          height: 10px
          transform: rotate(45deg)
    &.disabled
      border-color: transparent
      p
        padding: 0
        background: transparent
        cursor: default
        overflow: visible
        span
          pointer-events: none
    input
      padding: 0
      line-height: 30px
      border: none
      width: 100%
      &.full-width
        width: 100%
      &:disabled
        display: none
.t-createPassword
  display: flex
.t-errorMsg
  color: $red
  margin: 0 0 24px
.t-dateBox
  + .t-dateBox, + input
    margin-top: 24px
    + label
      margin-top: 24px
#new_task
  background: #ffffff
  >.t-scrollbar
    max-height: 100vh
  .scrollbar-inner
    padding: 24px
    box-sizing: border-box!important
    overflow: scroll
  .jq-selectbox.disabled .jq-selectbox__select-text
    color: $grey
.t-payStatus_reject
  display: none
.t-payStatus, .t-payStatus_reject
  width: 100%
  margin: 40px 0 24px
  h2
    margin: 0 0 16px
  div
    padding-left: 16px
    &.succes
      border-left: 2px solid $green
      color: $green
    &.error_box
      border-left: 2px solid $red
      color: $red
  p
    margin: 0 0 4px
    font-family: $bold
    color: $black
#addAccount, #addAccount_customer
  background: #ffffff
  max-height: 100vh!important
  padding: 24px
.t-load-file
  margin-top: 16px
  ul
    list-style-type: none
  li
    margin: 0 0 8px
    position: relative
    &:last-child
      margin-bottom: 16px
    .name
      word-wrap: break-word
    a:not(.name)
      float: right
      margin-top: 2px
    &.load
      .t-load-file__controls
        display: none
  label
    display: inline-block
    vertical-align: middle
    input
      position: absolute
      left: -9000000px
      width: 0
      height: 0
      opacity: 0
      padding: 0
      border: none
      font-size: 0
    &.load
      pointer-events: none
      background: #F2F5FA
      position: relative
      &:after
        content: ''
        position: absolute
        left: 100%
        top: 0
        bottom: 0
        width: 19px
        height: 19px
        background: url('/img/bonus1.png') no-repeat center
        background-size: cover
        margin: auto 0 auto 16px
        animation: spin 1s infinite linear
      + span
        display: none
  span
    display: inline-block
    vertical-align: middle
    margin: 0 0 0 8px
    font-family: $light
    color: $grey
    &.t-load-file_help
      color: $black
      span
        margin: 0
        color: $black
        vertical-align: top
  &__item
    position: relative
    width: 100%
    display: inline-block
    span
      vertical-align: top
      color: $black
      margin: 0
    img
      margin: 2px 12px 0 0 !important
      display: inline-block
      vertical-align: top
    + .t-load-file__item
      margin-top: 8px

  &_audio
    margin-top: 0
    li
      padding: 0
      &:before
        display: inline-block
        vertical-align: middle
        position: static
        top: 0
        transform: none
        width: 22px
        height: 24px
        background: url('../img/audio.png')
        margin-right: 18px

  &_page
    margin: 0
    form
      margin: 0 0 16px
.t-error-msg
  margin: 16px 0 0
  color: $red

@keyframes spin
  from
    transform: translate(-50%) rotate(0deg)
  to
    transform: translate(-50%) rotate(360deg)
@keyframes spin2
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@media (max-width: 769px)
  .ui-dialog_task
    top: 0!important
    transform: none!important
  #auth_reg
    .back, .front
      border-radius: 0
    .tabs
      a
        font-size: 16px

  .t-createPassword
    flex-direction: column
  .t-input_30, .t-input_60
    width: 100%
    margin: 0 0 8px

  .t-input-box__buttons
    flex-direction: column
    .t-btn
      margin: 0 0 16px 0!important

  .t-input
    span
      height: auto