@media (min-width: 770px)
  .t-personal-info_header:hover
    .t-personal-info_header__links
      display: block
  .t-personal-info_header__links a:hover
    color: $yeallow
  .t-logo:hover
    svg:first-child
      transform: rotate(180deg)
  .t-menu-about
    &:hover
      .t-menu-about__box
        display: block
    a:hover
      color: $yeallow!important

header
  display: inline-block
  margin: 0 8px
  width: calc(100% - 16px)
  min-width: 1024px
  padding: 24px 32px
  background: $white
  position: fixed
  top: 0
  left: 0
  z-index: 1000
  transition: all .2s
  box-shadow: 0 4px 24px 0 rgba(23,45,68,.05)
  hr
    height: 1px
    background: $black
    border: none
    margin-top: 20px
  p
    width: 182px
    font-size: 15px
    display: inline-block
    vertical-align: top
    margin-top: 13px
    margin-bottom: 0
    line-height: 12px
    transition: all .2s
  a
    transition: all .2s
  path
    transition: all .2s
  &[data-theme="yeallow-white"]
    padding: 40px 40px 0
    background: transparent
    box-shadow: none
    .t-logo
      svg:last-child
        path
          fill: $white
    .t-header_left p
      display: none
    nav
      a:not(.t-btn)
        color: $white
        path
          fill: $white
    .t-header_right-profile__link
      a
        path
          fill: $white
    .t-personal-info_header
      p
        color: $white
    .t-menu-about
      span
        color: $white
      path
        fill: $white
  &.white
    padding: 24px 32px
    background: #ffffff
    box-shadow: 0 4px 24px 0 rgba(23,45,68,.05)
    .t-logo
      svg:last-child
        path
          fill: $logo
    nav
      a:not(.t-btn)
        color: $black
        path
          fill: $black
    .t-header_right-profile__link
      a
        path
          fill: $black
    .t-personal-info_header
      p
        color: $black
    .t-menu-about
      span
        color: $black
      path
        fill: $black
.t-menu-about
  display: inline-block
  vertical-align: middle
  position: relative
  margin-right: 32px
  span
    &:after
      content: ''
      display: inline-block
      vertical-align: middle
      margin-left: 8px
      width: 10px
      height: 6px
      background: url('../img/more.png') no-repeat center
  svg
    margin-right: 8px
    display: inline-block
    vertical-align: baseline
  &__box
    padding-top: 30px
    display: none
    position: absolute
    top: 100%
    left: 0
    width: 171px
  ul
    width: 100%
    padding: 16px
    margin: 0
    border-radius: 2px
    list-style-type: none
    background: #ffffff
    box-shadow: 0 4px 24px 0 rgba(23,45,68,.05)
  li
    margin: 0 0 8px
    &:last-child
      margin-bottom: 0
  a
    white-space: nowrap
    font-size: 14px
    font-family: $bold
    color: $black!important
.t-logo
  margin: 0 12px 0 0
  display: inline-block
  vertical-align: top
  svg
    display: inline-block
    vertical-align: top
    transition: transform .3s
    &:first-child
      path
        fill: $yeallow
      margin-right: 5px
    &:last-child
      path
        fill: $logo
      margin-top: 9px

.t-header_left
  float: left
  margin-right: 32px
  &_menu
    margin-top: 8px
    margin-left: -4px
.t-header_right
  float: right
  margin-left: 32px
  margin-top: 4px
  &-profile
    margin-top: 0
    margin-left: 0
    display: flex
    align-items: center
    > *
      display: inline-block
      vertical-align: middle
    &__link
      a
        display: inline-block
        vertical-align: middle
        margin-left: 24px
        position: relative
        i
          position: absolute
          width: 4px
          height: 4px
          border-radius: 100%
          background: $red
          top: -6px
          right: -6px
          font-size: 0
          color: $red
          overflow: hidden

nav
  a
    display: inline-block
    vertical-align: middle
    margin: 0 32px 0 0
    &:last-child
      margin-right: 0
    svg
      margin-right: 8px
      display: inline-block
      vertical-align: baseline

.t-link_auth
  padding: 0 25px 0 16px

.t-personal-info_header
  margin-left: 32px
  margin-right: 12px
  position: relative
  padding-bottom: 5px
  margin-bottom: -5px
  display: flex
  align-items: flex-start
  p
    width: auto
    display: block
    white-space: nowrap
  &__name
    font-family: $bold
    font-size: 14px
    margin: 2px 0 10px
    letter-spacing: 1.1px
    max-width: 300px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    min-width: 120px
  &__status
    font-family: $light
    font-size: 17px
    color: $grey
    margin: 0
    &:after
      content: '...'
      font-size: 32px
      display: inline-block
      vertical-align: top
      margin-top: -7px
      margin-left: 7px
  &__img
    width: 40px
    height: 40px
    border-radius: 100%
    overflow: hidden
    margin-right: 16px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__links
    display: none
    position: absolute
    top: 100%
    left: 56px
    background: #fff
    padding: 16px
    border-radius: 2px
    box-shadow: 0 4px 24px 0 rgba(23,45,68,0.05)
    white-space: nowrap
    a
      display: table
      font-size: 14px
      font-family: $bold
      margin: 0 0 8px
      &:last-child
        margin-bottom: 0
@media (max-width: 1350px)
  .t-personal-info_header__name
    max-width: 100px
@media (max-width: 1200px)
  .t-personal-info_header
    margin-left: 20px
  header[data-theme=yeallow-white]
    padding: 40px 32px 0
  header.white
    padding: 24px 32px
  .t-header_left
    margin-right: 10px
  nav
    a
      margin: 0 16px 0 0
  .t-header_right-profile__link
    a
      margin-left: 10px
@media (max-width: 769px)
  header
    min-width: 0
    top: 0
    z-index: 12
    padding: 16px 16px
    &[data-theme=yeallow-white]
      padding: 16px 16px

      &:not(.white)
        .t-header-_link
          a
            path
              fill: #ffffff



    hr
      display: none
    p
      display: none

    &.top
      top: -88px

  .t-logo
    svg:last-child:not(.no_auth)
      display: none

  .t-header_left
    margin: 0

  .t-menu-box
    z-index: 1
    position: fixed
    left: 0
    top: 0
    display: none
    padding: 24px
    width: 100%
    height: 100vh
    overflow: scroll
    background: #000
    margin: 0!important
    h2
      font-size: 27px
      color: #FFF
      margin: 0 0 36px

  .t-header-_link
    width: 144px
    position: absolute
    left: 0
    right: 0
    margin: auto
    top: 22px
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row-reverse
    a
      position: relative
      margin: 0
      &:first-child
        svg
          width: 26px
          height: 29px
        i
          top : -14px
      &:last-child
        svg
          width: 28px
          height: 22px
        i
          top : -18px
      i
        background: $red
        right: -16px
        position: absolute
        min-width: 20px
        width: auto
        padding: 0 4px
        height: 20px
        border-radius: 20px
        color: #ffffff
        font-size: 14px
        text-align: center
        line-height: 20px
        font-style: normal
        font-family: $bold

  .t-header_right-profile
    margin: 0 0 10px
    float: none
    width: 100%
    position: relative
    &__link
      display: none
  .t-personal-info_header
    width: 100%
    margin: 0 0 32px
    padding: 0
    text-align: center
    display: block
    p
      padding: 0
      color: #ffffff!important
    &__img
      float: none
      margin: 0 auto 16px
    &__rightbox
      margin: 0 auto 4px
      max-width: 100%
    &__name
      max-width: 100%
    &__status
      margin: 0 auto 32px
      &:after
        content: none
        display: none
    &__links
      display: block
      position: relative
      top: 0
      left: 0
      background: transparent
      padding: 0
      border-radius: 0
      box-shadow: none
      a
        margin: 0 auto 24px
        color: #ffffff
        &.t-btn
          color: $black
          font-family: futura
          font-size: 17px
  nav
    width: 100%
    float: none
    a:not(.t-btn)
      display: table
      margin: 0 auto 24px
      color: #ffffff!important
      svg
        display: none
    .t-btn
      margin: 0 auto!important
      display: table

  .t-link_open-menu
    z-index: 2
    float: right
    width: 24px
    height: 24px
    display: block
    position: relative
    margin-top: 9px
    span
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 4px
      border-radius: 2px
      background: $yeallow
      margin-top: -2px
      &:after, &:before
        content: ''
        position: absolute
        left: 0
        width: 100%
        height: 100%
        background: $yeallow
        border-radius: 2px
      &:before
        top: -10px
        transition-property: top, transform
      &:after
        bottom: -10px
        transition-property: bottom, transform
    &.open
      span
        background: transparent
        &:before
          top: 0
          transform: rotate(45deg)
        &:after
          bottom: 0
          transform: rotate(-45deg)
