@media(min-width: 770px)
  .t-task-custumer__buttons
    a:not(.t-btn):hover
      path
        fill: $yeallow

.t-page_home
  h2
    font-size: 37px
    text-align: center
    text-transform: uppercase
//----------------------------
.t-preview
  width: 100%
  position: relative
  z-index: 1
  color: $white
  margin: -88px 0 80px
  overflow: hidden
  padding-top: 230px
  > *
    position: relative
    z-index: 1
  h1
    font-size: 85px
    margin: 0 auto 40px
    max-width: 1054px
    text-align: center
    font-family: $light

.t-stuck_img
  position: absolute
  z-index: 0
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: all .2s
  background: url(../img/preview.jpg)
  background-size: cover
  background-attachment: fixed
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%)

.t-create-get-task
  width: 722px
  max-width: 100%
  margin: 0 auto 80px
  text-align: center
  ul
    display: flex
    justify-content: space-between
    align-items: flex-start
  li
    list-style-type: none
    width: 50%
  h2
    font-size: 27px
    margin: 0 0 24px
  p
    font-size: 21px
    max-width: 256px
    margin: 0 auto 24px
  &_buttons
    a:first-child
      margin-right: 16px


//------------------------------
.t-advantage
  h2
    margin: 0 0 16px
  .tabs
    margin-bottom: 131px
.t-advantage-list
  overflow: visible
  width: 976px
  max-width: 100%
  margin: 0 auto 155px
  .swiper-wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start

.t-advantage-item
  width: 272px
  max-width: 100%
  list-style-type: none
  text-align: center
  &__img
    width: 184px
    height: 184px
    background: $white
    margin: 0 auto 24px
    img
      width: 100%
      height: 100%
      object-fit: cover
  p
    font-size: 17px
    font-family: $bold
    margin: 0
//----------------------------
.t-how-works
  max-width: 624px
  margin: 0 auto 90px
  h2
    margin: 0 auto 40px
  .tabs
    margin-bottom: 80px
  .t-btn
    display: table
    margin: 80px auto 0
.t-how-works__block
  width: 100%
  list-style-type: none
  margin: 0 auto 16px
  text-align: center
  display: flex
  justify-content: space-between
  align-items: flex-start
  li
    width: 50%
  h4
    font-family: $bold
    font-size: 17px
    margin-bottom: 40px

.t-how-works__item
  width: 100%
  height: 348px
  margin: 0
  &:first-child
    height: 60px
  &:last-child
    margin-bottom: 0
  img
    width: 184px
    height: 184px
    object-fit: cover
    margin: 0 auto 24px
    background: $white
  p
    font-size: 27px
    margin: 0 0 31px
    + a
      margin-top: 70px
.t-how-works__arrow
  margin: 0 auto
  width: 30px
  height: 44px
  background: url('../img/arrow.png') no-repeat center

//---------------------------------
.t-reviews
  width: 100%
  overflow: hidden
  margin: 0 auto
  h2
    margin: 0 auto 31px
  .swiper-container
    max-width: 916px
    margin: 0 auto
    overflow: visible
  .swiper-pagination
    position: relative
    left: 0
    bottom: 0
    width: 100%
    span
      cursor: pointer
      flex-shrink: 0
      width: 144px
      height: 144px
      padding: 0 24px 40px
      display: block
      box-sizing: content-box
      img
        width: 100%
        height: 100%
        border-radius: 100%
        object-fit: cover
      &.active
        img
          box-shadow: 0 24px 24px 0 rgba(0,0,0,0.16)
  .swiper-pagination-wrapper
    width: 100%
    display: flex
    align-items: center
    position: relative
.t-reviews-slider__item
  text-align: center
  width: 100%
  opacity: 0
  transition: all .5s
  &.active
    opacity: 1
  img
    display: none
    width: 144px
    height: 144px
    object-fit: cover
    border-radius: 100%
    margin: 0 auto 40px
    box-shadow: 0 42px 24px 0 rgba(0,0,0,0.16)
  .prof
    font-size: 27px
    margin: 0 0 8px
    font-family: $bold
  .text
    font-size: 27px
    margin: 0 0 16px
  a
    display: inline-block
    margin: 0 auto
    font-size: 21px
    color: $grey

@media (max-width: 769px)
  .t-stuck_img
    background-image: url('/img/preview-min.jpg')
    background-attachment: scroll
  .t-preview
    width: auto
    padding: 144px 24px 0
    margin: 0 -24px 40px
    h1
      font-size: 37px
      margin: 0 0 32px
    .tabs
      margin: 0 auto 24px
      a
        color: rgba(255,255,255,.3)
        &.active
          color: $white
      i
        background: url(../img/tabs_w.png) no-repeat 50%
  .t-create-get-task
    padding-top: 32px
    border-top: 1px solid rgba(255,255,255,.3)
    perspective: 1000
    h2
      display: none
    &.open
      ul
        transform: rotateY(180deg)
    ul
      display: block
      width: 100%
      height: 104px
      transition: 0.5s
      transform-style: preserve-3d
      position: relative
      > li
        backface-visibility: hidden
        position: absolute
        width: 100%
        top: 0
        left: 0
        display: block
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        overflow: hidden
        &:first-child
          -webkit-transform: translate3d(0,0,0)
        &:last-child
          transform: rotateY(180deg)
  .t-create-get-task_buttons
    a:first-child
      margin: 0 0 20px

  .t-page_home
    h2
      font-size: 17px

  .t-advantage
    .tabs
      margin-bottom: 40px
  .t-advantage-list
    margin-bottom: 80px
    overflow: hidden

  .t-how-works
    .tabs
      margin-bottom: 24px
  .t-how-works__block
    li
      width: 50%
  .t-how-works__item
    width: 100%
    height: 174px
    &:first-child
      height: 48px
    h4
      font-size: 14px
      margin: 0 auto 16px
      width: 100px
    p
      font-size: 17px
      margin-bottom: 16px

    img
      width: 92px
      height: 92px
      margin-bottom: 0

  .t-how-works__arrow
    height: 21px
    background-size: contain

  .t-reviews
    .swiper-pagination
      position: absolute
      span
        width: 8px
        height: 8px
        padding: 0
        display: inline-block
  .t-reviews-slider__item
    opacity: 1
    img
      display: block
    .prof
      font-size: 17px
    .text
      font-size: 17px
  .t-reviews
    h2
      margin-bottom: 53px
