.t-overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9998
  background: #000000
  opacity: .6
  display: none

.t-notice
  width: 100%
  display: flex
  flex-direction: column
.t-notice-item
  display: block
  width: 100%
  background: $white
  border-radius: 2px
  padding: 16px
  margin: 0 0 8px
  position: relative
  &__title
    margin: 0 0 8px
    font-family: $bold
    font-size: 14px
  &__text
    margin: 0 0 8px
    overflow: hidden
    position: relative
    &_overflow
      white-space: nowrap
    &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 100px
      height: 100%
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%)
  .correctLines_more_link
    margin: 16px 0 0
    display: inline-block
    color: $grey
    &:before
      content: ''
      width: 10px
      height: 6px
      background: url('../img/more.png') no-repeat center
      display: inline-block
      vertical-align: middle
      margin-right: 8px
    &.open
      &:before
        transform: scale(1,-1)
  &__date
    color: $grey