@media (min-width: 770px)
  .t-notice-block
    a:hover
      path
        fill: $yeallow
  .t-ray__box:hover
    a
      width: 104px
      height: 104px
      margin: -4px -4px 4px -4px
      box-shadow: 0 28px 24px 0 rgba(0,0,0,0.3)
    p
      opacity: 1
    span
      opacity: 1
    + .t-ray__line
      hr
        display: none
      svg
        display: block

  .t-personal-logo:hover
    img
      opacity: 0

.t-notice-block
  width: 208px
  margin: 0 auto 68px
  background: rgba(111,111,111,.4)
  padding: 16px 32px
  display: flex
  justify-content: space-between
  align-items: center
  a
    width: 64px
    height:  64px
    border-radius: 100%
    position: relative
  svg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  i
    padding: 0 5px
    min-width: 20px
    color: $white
    font-size: 14px
    font-family: $bold
    font-style: normal
    border-radius: 20px
    line-height: 22px
    height: 20px
    background: $red
    position: absolute
    top: 0
    right: 0
    align-items: center

.t-stars
  width: 864px
  max-width: 100%
  margin: 0 auto 186px
  padding-top: 40px
  text-align: center
  &__title
    width: 486px
    margin: 0 auto 49px
    color: $white
    h1
      margin: 0 0 12px
      text-transform: none
    p
      margin: 0
      font-size: 20px
      font-family: $bold
  &__box
    margin: -162px 0 -162px
    padding: 162px 0 162px
    position: relative
  &__directions
    color: #ffffff
    margin: 26px auto 0
    font-family: $bold
    font-size: 14px

  path
    fill: transparent!important

  &_company
    .t-ray
      &:nth-child(2)
        right: 63px
        top: 0
        bottom: 50%
        left: 50%
        .t-ray__box
          right: 0
          top: 0
        .t-ray__line
          > *
            transform: rotate(147deg)
          hr
            left: 0
            top: 53%
          svg
            top: -30%
            left: -13%
      &:nth-child(3)
        right: 0
        top: 50%
        height: 96px
        transform: translate(0 , -50%)
        left: 50%
        .t-ray__box
          right: 0
          top: 0
        .t-ray__line
          hr
            left: 0
            top: 50%
          svg
            top: 19%
            left: 0
      &:nth-child(4)
        right: 63px
        top: 50%
        bottom: 0
        left: 50%
        .t-ray__box
          right: 0
          bottom: -24px
        .t-ray__line
          > *
            transform: rotate(-147deg)
          hr
            left: 0
            top: 46%
          svg
            top: -33%
            left: 18%
      &:nth-child(5)
        left: 63px
        top: 50%
        bottom: 0
        right: 50%
        .t-ray__box
          left: 0
          bottom: -24px
        .t-ray__line
          > *
            transform: rotate(147deg)
          hr
            left: 0
            top: 46%
          svg
            top: -49%
            left: 0
      &:nth-child(6)
        left: 0
        top: 50%
        height: 96px
        transform: translate(0 , -50%)
        right: 50%
        .t-ray__box
          left: 0
          top: 0
        .t-ray__line
          hr
            left: 0
            top: 50%
          svg
            top: 19%
            left: 0
      &:nth-child(7)
        left: 63px
        top: 0
        bottom: 50%
        right: 50%
        .t-ray__box
          left: 0
          top: 0
        .t-ray__line
          > *
            transform: rotate(-147deg)
          hr
            left: 0
            top: 53%
          svg
            top: -32%
            left: 43px
  &_developer
    padding-top: 0
    margin-bottom: 360px
    .t-ray
      &:nth-child(2)
        right: 0
        top: 50%
        height: 96px
        transform: translate(0 , -50%)
        left: 50%
        .t-ray__box
          right: 0
          top: 0
        .t-ray__line
          hr
            left: 0
            top: 50%
          svg
            top: 19%
            left: 0
      &:nth-child(3)
        right: 63px
        top: 50%
        bottom: 0
        left: 50%
        .t-ray__box
          right: 0
          bottom: -24px
        .t-ray__line
          > *
            transform: rotate(-147deg)
          hr
            left: 0
            top: 46%
          svg
            top: -33%
            left: 18%
      &:nth-child(4)
        left: 50%
        top: 50%
        bottom: -112px
        width: 96px
        transform: translate(-50%, 0)
        .t-ray__box
          left: 0
          bottom: 0
        .t-ray__line
          > *
            transform: rotate(90deg)
          hr
            left: -49px
            top: 50%
            width: 200%
          svg
            top: -22px
            left: -213%
            width: 200%
      &:nth-child(5)
        left: 63px
        top: 50%
        bottom: 0
        right: 50%
        .t-ray__box
          left: 0
          bottom: -24px
        .t-ray__line
          > *
            transform: rotate(147deg)
          hr
            left: 0
            top: 46%
          svg
            top: -49%
            left: 0
      &:nth-child(6)
        left: 0
        top: 50%
        height: 96px
        transform: translate(0 , -50%)
        right: 50%
        .t-ray__box
          left: 0
          top: 0
        .t-ray__line
          hr
            left: 0
            top: 50%
          svg
            top: 19%
            left: 50px

.t-ray
  position: absolute
.t-ray__box
  position: absolute
  z-index: 2
  a
    background: $white
    border-radius: 100%
    width: 96px
    height: 96px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 4px
    transition: all .2s
    position: relative
    overflow: hidden
    z-index: 1
    outline: none
  p
    background: $white
    width: 100%
    height: 96px
    line-height: 96px
    text-align: center
    font-size: 16px
    font-family: $bold
    position: absolute
    top: 50%
    left: 0
    transform: translate(0, -50%)
    margin: auto
    white-space: nowrap
    opacity: 0
    transition: all .2s
  span
    color: $white
    font-family: $bold
    font-size: 14px
    opacity: 0
    transition: all .2s
    position: relative
    z-index: 2
.t-ray__line
  position: absolute
  z-index: 1
  width: 100%
  height: 100%
  top: 0
  left: 0
  overflow: hidden
  > *
    position: absolute
  hr
    width: 100%
    height: 1px
    border: none
    background: $white
    opacity: .3
  svg
    display: none

.t-personal-logo
  width: 188px
  height: 188px
  overflow: hidden
  border-radius: 100%
  position: relative
  padding: 6px
  margin: 0 auto
  &__percent
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0,0,0,.3)
    z-index: 1
  &__img
    position: relative
    z-index: 2
    width: 100%
    height: 100%
    img
      width: calc(100% + 2px)
      height: calc(100% + 2px)
      object-fit: cover
      position: absolute
      z-index: 2
      top: -1px
      left: -1px
      transition: all .2s
      border-radius: 100%
      background: #ffffff
    div
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: $white
      z-index: 1
      display: flex
      justify-content: center
      align-items: center
      border-radius: 100%
      overflow: hidden
    p
      color: $logo
      width: 80%
      text-align: center
      font-family: $bold
      margin: 0
      font-size: 14px
      position: relative
      span
        display: block
        font-size: 37px
        margin-bottom: 8px
