@media (min-width: 770px)
  .t-tabs
    a:hover
      color: $yeallow
  .t-addPortfolioBlock
    a:hover
      path
        fill: $yeallow
  .t-del:hover
    path
      fill: $red

.t-page_profile
  position: relative
  > *
    position: relative
    z-index: 2
  h2
    margin: 0 0 24px
    &.black
      color: $black

.t-tabs
  display: flex
  margin: 0 auto 32px
  max-width: 100%
  justify-content: center
  align-items: center
  a
    margin: 0 16px
    color: $white
    font-family: $bold
    &.active
      color: $yeallow

.t-avatar
  display: flex
  justify-content: flex-start
  align-items: center
  margin: 0 0 40px
  img
    width: 102px
    height: 102px
    border-radius: 100%
    object-fit: cover
    margin-right: 16px
  label
    position: relative
    overflow: hidden
    display: inline-block
    vertical-align: top
    margin-right: 8px
  input
    display: none
  p
    margin: 0 0 8px
    font-family: $bold

.t-addBox
  display: inline-block
  vertical-align: top
  width: 288px
  height: 144px
  border-radius: 4px
  border: 1px dashed $white
  position: relative
  .t-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    white-space: nowrap
  &_full
    width: 100%
    z-index: 1
.t-createTask
  width: 100%
  margin: 0 0 24px
  a
    display: inline-block
    vertical-align: top
    width: 240px
    height: 56px
    text-align: center
    line-height: 54px
    border-width: 1px
    border-style: dashed
    border-radius: 4px
  &__new
    border-color: $yeallow
    margin-right: 8px
  &__existing
    border-color: $grey_light

.t-project
  width: 100%
  padding: 24px
  position: relative
  margin: 0 0 8px
  border-radius: 2px
  h2
    margin: 0
    color: $black
  &__tasks
    margin: 0 0 24px
    font-family: $bold
  &__text
    margin: 0 0 24px

  .t-input
    a
      color: $black
      margin: 0

.t-input_video__static-box
  display: flex
  align-items: flex-start
  justify-content: flex-start
  a
    display: inline-block
    margin: 8px 8px 0 0
    width: 170px
    height: 90px
    background: #F5F5F5
    position: relative
    outline: none
    svg
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
    path
      fill: $yeallow
    &.audio
      float: left !important
      background: transparent
      width: auto
      height: auto
      margin: 0 18px -4px 0
      top: -4px
      svg
        position: static
      path
        fill: $grey

.t-input_video__edit-box
  display: flex
  align-items: center
  justify-content: space-between
  input
    padding: 0
    margin: 0 0 0 16px
    &.t-disabled-always
      pointer-events: none
      border-color: transparent
  ul
    width: 100%
  .audio-name
    width: 100%
//reviews
.t-review
  margin: 0 0 16px
  &__personal-info
    width: 100%
    margin: 0 0 16px
    color: $white
  &__avatar
    display: inline-block
    vertical-align: middle
    width: 40px
    height: 40px
    margin-right: 16px
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 100%
  &__name
    display: inline-block
    vertical-align: middle
    span
      font-family: $bold
      display: block
      margin: 0 0 4px
  &__type
    font-family: $bold
    margin: 0 0 4px
  &__task
    margin: 0 0 16px

//password
#password_form
  p
    color: $black
    margin: 0 0 24px

//portfolio
.t-portfolio-box
  margin: 0 0 8px
  .t-input
    margin-bottom: 0
    input, textarea
      margin: 0 0 24px
    input
      overflow: hidden
      text-overflow: ellipsis
  [data-fancybox]
    pointer-events: none
  span
    &.hidden
      + .t-portfolio-box__name
        border: none
        font-size: 27px
        font-family: $bold
        padding: 0
        height: auto
        margin-bottom: 16px
        overflow: hidden
        text-overflow: ellipsis
      + .t-portfolio-box__name_block
        font-family: $bold
        padding: 0
        height: auto
        margin: 0 0 8px
        overflow: hidden
        text-overflow: ellipsis
      + textarea
        height: auto
        padding: 0
        border: none
        margin-bottom: 16px
  label
    &.hidden
      + .t-input_file__preview
        [data-fancybox]
          pointer-events: all
.t-portfolio-box__block
  position: relative
  margin: 0 0 24px
  &:before
    content: ''
    position: absolute
    left: -24px
    top: 0
    bottom: 0
    width: 4px
    background: $yeallow
  .t-load-file
    li
      margin-bottom: 24px
      &:last-child
        margin-bottom: 0
.t-addPortfolioBlock
  margin: 0 0 24px
  a
    width: 64px
    height: 64px
    border: 1px dashed $grey
    border-radius: 100%
    display: inline-block
    vertical-align: middle
    margin-right: 8px
    position: relative
  svg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
  path
    fill: $grey
    
.t-del
  float: right
  margin-top: 8px
  path
    fill: #CCCCCC

.blocked
  .ui-accordion-header
    opacity: .5
    pointer-events: none
  .t-addBox
    .t-btn
      background: $background
      pointer-events: none
form.blocked
  .t-btnBox
    .t-btn
      background: $background
      pointer-events: none

.t-until-now
  &:not(checked)
    &:disabled
      display: none
      + label
        display: none
  &:checked
    &:disabled
      display: block
      + label
        display: block


.t-balance
  margin: 0 0 8px
  > *
    margin-bottom: 0
  &:last-child
    margin-bottom: 0
  &_bigMargin
    margin: 0 0 32px
  &__money
    font-size: 27px
    margin: 0 0 16px
    font-family: $bold
    display: flex
    align-items: center
    &_smallMargin
      margin: 0 0 8px
    span
      font-family: $light
      color: $grey
      margin-left: 16px
      display: inline-block
      vertical-align: middle
  &__info
    margin: 0
    color: $grey!important

  &__table
    width: 100%
    overflow: hidden
    text-align: left
    table
      min-width: 100%
      border-spacing: 0
    th
      font-family: $bold
      font-weight: normal
      padding-bottom: 8px
      text-align: left
    td
      padding: 16px 32px 16px 0
      border-bottom: 1px solid $grey_light
      &:nth-last-child(1n+2)
        white-space: nowrap
      &.green
        color: $green
      &.red
        color: $red
    tbody
      tr:last-child
        td
          border-bottom: none

  &__duration
    list-style-type: none
    width: 310px
    max-width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    margin: 0 0 8px 6px
    li
      color: $grey
      margin-right: 14px
      &:nth-child(1n+9)
        margin-right: 6px
      &:last-child
        margin-right: 0
  &__sliderDuration
    width: 256px
    margin: 0 10px
    max-width: calc(100% - 20px)
    span
      border-left: 7px solid transparent
      border-right: 7px solid transparent!important
      border-top: none!important
      border-bottom: 7px solid $yeallow
      margin-top: 3px !important

.t-bonus
  &-list
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: wrap
  &__type
    font-size: 14px
    color: $grey!important
    margin: 0 0 8px
    font-family: $bold
  &__name
    font-family: $bold
    margin: 0 0 8px
  .t-btn
    margin-top: 8px
  &__duration
    color: $grey!important
    margin: 36px 0 0
@media(max-width: 980px)
  .t-balance__table
    overflow-x: scroll
    overflow-y: hidden
@media(max-width: 769px)
  .t-page_profile
    padding-top: 112px
  .t-notice-block
    display: none
  .t-stars
    padding-top: 0
    margin: 0
    overflow: hidden
    &__title
      display: none
    &__box
      padding: 0
      margin: 0 -20px 40px
    &__directions
      display: none
  .t-personal-logo
    display: none
  .t-ray
    position: relative
    top: 0 !important
    right: 0 !important
    bottom: 0 !important
    left: 0 !important
    display: inline-block
    vertical-align: top
    transform: none!important
    margin: 0 20px 26px
    &__line
      display: none
    &__box
      position: relative
      top: 0 !important
      right: 0 !important
      bottom: 0 !important
      left: 0 !important
      span
        opacity: 1
  .t-tabs
    a
      display: none
  .t-big-select
    outline: none
    width: calc(100% - 8px)
    margin: 0 4px
    border: 1px solid rgba(255,255,255, .3)
    padding: 15px 20px
    background: transparent url('/img/select.png') no-repeat 95% 50%
    color: #ffffff
    font-size: 17px
    font-family: $bold
    &_no-border
      border: none
      margin-bottom: 20px

  .t-avatar
    justify-content: center
    flex-direction: column
    img
      width: 200px
      height: 200px
      margin: 0 auto
    > div
      margin-top: 16px
      text-align: center
      label
        margin-bottom: 8px

  .t-balance__money
    display: block
    span
      display: block
      margin: 8px 0 0 0
      font-size: 20px
@media (max-width: 320px)
  .t-balance__duration li
    margin-right: 11px
    &:nth-child(1n+9)
      margin-right: 2px