.t-personal-info
  margin: 0 0 8px
  &__img
    display: inline-block
    vertical-align: middle
    width: 102px
    height: 102px
    border-radius: 100%
    overflow: hidden
    margin-right: 16px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__header
    display: inline-block
    vertical-align: middle
    p
      color: $black
      margin: 0
  &__openDialog
    position: absolute
    top: 24px
    right: 24px
  &__name
    margin: 0 0 8px
    font-family: $bold
  &__rate
    font-size: 14px
    margin: 0 0 8px
    font-family: $bold
  hr
    margin: 24px 0
    width: 100%
    border: none
    height: 1px
    background: $grey_light
  &_social
    margin-bottom: 32px
    .t-social-auth
      margin-bottom: 0
.t-interviews
  padding: 0 !important
  display: flex
  > *
    width: 100%
.t-chronology
  position: relative
  padding-left: 19px
  border-left: 1px solid $grey_light
  padding-bottom: 32px
  &__name
    font-family: $bold
    margin: 0 0 -7px
    position: relative
    top: -11px
    &:before
      content: ''
      position: absolute
      left: -22.5px
      top: 50%
      width: 5px
      height: 5px
      border-radius: 100%
      background: $black
      margin-top: -2.5px
  &__task
    font-size: 14px
    font-family: $bold
    margin: 0 0 8px
  &__date
    color: $grey
  &:first-child
    margin-top: 11px
  &:last-child
    padding-bottom: 0
    border-color: transparent

.t-project-list
  .t-task-item
    display: none
    &.show
      display: flex

.t-rezume-list
  margin: 0 -9px
.t-rezume__box
  display: inline-block
  vertical-align: top
  margin: 0 7px
  .t-work-area_blur__box
    &:last-child
      margin-right: 0
  &_target
    margin: 32px 0 0
    display: block
    h2
      margin: 0 0 16px

.t-portfolio-box_public
  h2
    color: $black
  .t-portfolio-box__text
    margin: 0 0 16px
    max-height: 100px
    overflow: hidden
  .t-portfolio-box__block
    display: none
    &:before
      content: none
      display: none
  .t-portfolio-box__block__text
    margin: 0 0 16px