.t-page_registration__title
  text-align: center
  color: $white
.t-page_registration__hint
  margin: 0 auto 24px
  color: $white
  text-align: center
  max-width: 586px
.t-tabs_registration
  width: 240px
  margin: 0 auto 21px
  padding: 0
  list-style-type: none
  display: flex
  justify-content: space-between
  li
    position: relative
    padding-bottom: 18px
    text-align: center
    color: #ffffff
    opacity: .3
    font-family: $bold
    font-size: 17px
    &.active
      opacity: 1

.t-registration__role
  display: flex
  width: 100%
  justify-content: space-between
  list-style-type: none
  li
    width: 320px
    background: $white
    border-radius: 2px
    padding: 24px
    text-align: center
    img
      max-width: 100%
  p
    color: $black

.t-loadLine
  width: 960px
  max-width: 100%
  margin: 0 auto 24px
  text-align: center
  p
    font-family: $bold
    color: $yeallow
    margin: 0 0 13px
  &__box
    height: 6px
    border-radius: 3px
    background: rgba(0,0,0,.3)
    position: relative
    overflow: hidden
    div
      position: absolute
      left: 0
      top: 0
      background: $yeallow
      height: 100%
      border-radius: 3px
      z-index: 2
      &:last-child
        background: $grey_light
        transition: width .2s
        z-index: 1

@media (max-width: 769px)
  .t-registration__role
    li
      width: 50%
@media (max-width: 400px)
  .t-registration__role
    flex-direction: column
    li
      width: 100%
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0