.t-search-filter
  height: 52px
  width: 100%
  margin: 0 0 8px
  background: #fff
  border-radius: 2px
  position: relative
  z-index: 3
  &.open
    .t-search-filter__header
      opacity: 0
      pointer-events: none
    .t-search-filter__body
      opacity: 1
      pointer-events: all
      left: -8px
      top: -8px
      right: -8px
      padding: 24px 32px
    .t-search-filter__overflow
      opacity: 1
      pointer-events: all

  &__overflow
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    background: rgba(1, 27, 45, 0.7)
    opacity: 0
    pointer-events: none
    transition: all .2s

  &__header
    top: 0
    left: 0
    width: 100%
    position: absolute
    padding: 16px 24px
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer
    transition: all .2s
    z-index: 2
    h3
      margin: 0

  &__body
    top: 0
    left: 0
    right: 0
    position: absolute
    padding: 16px 24px
    background: #FFFFFF
    border-radius: 2px
    opacity: 0
    pointer-events: none
    transition: all .2s
    z-index: 2

  .t-more
    display: none

.t-tabs_task
  width: 100%
  margin: 0 0 29px
  ul
    list-style-type: none
    display: flex
    align-items: center
    justify-content: flex-start
  li
    margin-right: 40px
    &:last-child
      margin-right: 0
  a
    color: #ffffff
    font-family: $bold
    display: block
    &.active
      color: $yeallow

    span
      font-size: 14px
      padding: 0 5px
      line-height: 20px
      border-radius: 10px
      margin-left: 16px
      background: $red
      color: #ffffff
      display: inline-block
      vertical-align: middle

@media(max-width: 769px)
  .t-work-area__background
    + .t-tabs_task
      margin-bottom: 0

  .t-tabs_task
    ul
      display: none