@media (min-width: 770px)
  .t-participant
    > div:hover
      .t-buttons-box
        opacity: 1
.t-task-list
  + h2
    margin-top: 32px
.t-new-task
  width: 960px
  max-width: 100%
  margin: 0 auto
  h2
    font-size: 37px
    margin: 0 0 24px
    text-align: center
    text-transform: uppercase
    span
      display: block
      margin: 7px 0 0
      font-size: 27px
      font-family: $light
      text-transform: none
  .t-btn
    margin: 40px auto 80px
    display: table
  .swiper-wrapper
    display: block
  .swiper-slide
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0

.t-task-item
  display: block
  width: 100%
  border-radius: 2px
  overflow: hidden
  position: relative
  padding: 16px
  > *
    z-index: 1
    position: relative
  .level
    position: absolute
    top: 16px
    right: 16px
    width: 20px
    height: 16px
    display: flex
    justify-content: space-between
    align-items: flex-end
    span
      width: 4px
      background: rgba(0,0,0,.1)
      border-radius: 4px
      &:nth-child(1)
        height: 8px
      &:nth-child(2)
        height: 12px
      &:nth-child(3)
        height: 16px
    &.level_2
      span:nth-child(1)
        background: $green
    &.level_3
      span:nth-child(1), span:nth-child(2)
        background: $yeallow
    &.level_4
      span
        background: $red
  &__header
    width: 100%
    color: $white
    .price
      font-size: 14px
      font-family: $bold
      margin: 0 0 4px
      &:after
        display: inline-block
        margin: 0 0 0 4px
        content: ''
        width: 12px
        height: 11px
        background: url('../img/star.png') no-repeat center
    .name
      font-size: 14px
      font-family: $bold
      margin: 0 0 8px 0
  &__img
    width: 40px
    height: 40px
    float: left
    margin-right: 16px
    position: relative
    span
      position: absolute
      left: -8px
      top: -8px
      border-radius: 20px
      line-height: 20px
      min-width: 20px
      background: $red
      color: #ffffff
      font-size: 14px
      font-family: $bold
      padding: 0 5px
      text-align: center
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 100%
  &__info
    width: 100%
    color: $white
    .price
      display: flex
      align-items: center
      justify-content: flex-start
      img
        margin-right: 8px
      span
        margin-right: 16px
        font-family: $bold
    .name
      font-family: $bold
      margin: 0 0 8px
      padding-right: 45px
    .description
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      margin: 0 0 8px
      white-space: pre
      max-height: 20px
    hr
      height: 1px
      width: 100%
      border: none
      background: rgba(0,0,0,.1)
      margin: 0 0 8px
    li
      list-style-type: none
      display: inline-block
      margin: 0 16px 0 0
  &_white
    background: $white
    margin-bottom: 8px
    .t-task-item__info, .t-task-item__header
      color: $black
    &:last-child
      margin-bottom: 0

.t-task-item__background
  position: absolute
  z-index: 0
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(204,204,204,.6)
  filter: blur(80px)

.t-task-custumer
  margin: 0 0 8px
  width: 100%
  position: relative
  display: flex
  align-items: stretch
  justify-content: space-between
  &_start
    align-items: flex-start
  &:before
    content: ''
    position: absolute
    top: 2px
    bottom: 2px
    left: -17px
    width: 1px
    border-radius: 1px
  &[data-type="draft"]
    &:before
      background: #E0E0E0
  &[data-type="moderation"]
    &:before
      background: $yeallow
  &[data-type="reject"]
    &:before
      background: $red
  &[data-type="published"]
    &:before
      background: $green
  &[data-type="finished"]
    &:before
      background: $blue
  &__task
    width: calc(100% - 248px)
  &__description
    width: calc(100% - 296px)
    .box
      background: #ffffff
      padding: 16px
      border-radius: 2px
      h2
        margin-bottom: 0
        color: $black
      h3
        color: $black
      .date
        color: $grey
        margin: 0 0 24px
      p
        color: $black
      img
        max-width: 100%
        border-radius: 2px
        margin: 0 0 24px
        &.file
          margin: 0 12px 0 0
          display: inline-block
          vertical-align: middle
      .text
        margin: 0 0 24px
        white-space: pre-line
        > *:last-child
          margin-bottom: 0
    .t-load-file
      h3
        margin-bottom: 16px
  &__info
    width: 240px
    padding: 16px
    background: #ffffff
    border-radius: 2px
    position: relative
    &_long
      width: 288px
      background: transparent
      padding: 0
      border-radius: 0
      &__box
        background: #ffffff
        padding: 16px
        border-radius: 2px
        margin-bottom: 32px
        &:last-child
          margin-bottom: 0
        &.list
          list-style-type: none
          h3
            margin: 0 0 8px
          p
            margin: 0
            color: $black
          li
            margin: 0 0 16px
            &:last-child
              margin-bottom: 0
      .t-btn
        margin-top: 8px
      .t-margin
        margin-bottom: 16px
      .t-social-auth
        margin-bottom: 0
    .title
      font-family: $bold
      font-size: 14px
      margin: 0 0 8px
    .select
      margin: 0 0 8px
      color: $black
    p
      color: $grey
      margin: 0
      &.black
        color: $black
  &__buttons
    position: absolute
    left: 16px
    right: 16px
    bottom: 16px
    list-style-type: none
    display: flex
    .t-btn
      padding: 0 20px
  &__buttons_static
    position: static
    left: 0
    right: 0
    bottom: 0
    margin-top: 4px
    display: inline-block
    width: 100%

.t-updates
  width: 100%
  position: relative
  padding: 0 0 28px 19px
  border-left: 1px solid #F2F2F2
  &:after
    content: ''
    position: absolute
    left: -3px
    top: -2px
    width: 5px
    height: 5px
    background: $black
    border-radius: 100%
  &:first-child
    margin-top: 9px
  &:last-child
    padding-bottom: 0
    border-left-color: transparent
  h3
    margin: 0 0 -9px 0
    position: relative
    top: -9px
  h4
    font-size: 14px
    font-family: $bold
    margin: 0 0 8px
  p
    color: $grey
    margin: 0
.t-participant
  display: flex
  justify-content: space-between
  width: 100%
  &__collumn_full
    width: 100%

  &__collumn_left
    width: 288px
  &__collumn_right
    width: calc(100% - 300px)

  &__list
    margin-top: 24px
    .t-task-item_white
      margin-bottom: 1px
    .base-info
      img
        display: inline-block
        vertical-align: top
        margin-top: 1px
      .grey
        color: $grey

  &__item
    cursor: pointer
    padding: 12px
    border: 4px solid #ffffff
    &.active
      border-color: $yeallow

    .name
      font-size: 14px
      margin: 0 0 5px!important
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .rate
      color: $grey
      font-family: $bold
      font-size: 14px
      display: none

    .buttons
      display: none
      width: 100%
      margin-top: 16px
      flex-wrap: wrap
      a
        margin-right: 8px
        &:last-child
          margin-right: 0

    &_lock
      .lock
        position: absolute
        top: 8px
        right: 8px
        width: 12px
        height: 11px
        background: url('../img/lock.png') no-repeat center
      + h2
        margin-top: 24px

  &__active
    margin: 0 0 16px
    .t-participant__item
      .rate
        display: block
      .buttons
        display: flex
      .base-info
        display: none

.t-fileBox
  width: 100%
  border-radius: 2px
  background: #ffffff
  min-height: 500px
  padding: 16px
  &__nofile
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    h3
      font-size: 27px
      color: #E0E0E0
      margin: 0
    p
      color: #E0E0E0
      margin: 0
      width: 440px
      padding: 0 20px
      max-width: 100%
      font-family: $bold

  .date
    color: $grey
    margin: 0 0 16px

  li
    list-style-type: none
    margin: 0 0 24px

  .scrollbar-inner
    height: 100%

.t-custumer-info
  width: 100%
  display: inline-block
  margin: 0 0 24px
  img
    float: left
    width: 40px
    height: 40px
    border-radius: 100% !important
    object-fit: cover
    margin-top: -2px!important
    margin-bottom: 0!important
  h4
    font-family: $bold
    font-size: 14px
    margin: 2px 0
    padding-left: 48px
  p
    font-family: $bold
    font-size: 14px
    color: $grey!important
    margin: 0
    padding-left: 48px

.t-participant
  .t-work-area_blur__box_30[data-performer="1"], .t-work-area_blur__box_30[data-winner="1"]
    background: $yeallow
    hr
      background: $black
    .t-participant__info li.t-buttons-box
      background: $yeallow
    .t-btn_border
      border-color: $black

@media (max-width: 769px)
  .t-participant__info
    li.t-buttons-box
      opacity: 1
      position: relative
      margin: 0 0 16px
  .t-new-task
    max-width: none
    width: auto
    margin: 0 -20px
    h2
      font-size: 17px
      span
        font-size: 17px
    .swiper-container
      width: 100%
      padding-bottom: 32px
    .swiper-wrapper
      display: flex
    .swiper-slide
      margin-bottom: 0
    .swiper-pagination
      bottom: 0
    .swiper-pagination-bullet
      background: $white
      opacity: .2
    .swiper-pagination-bullet-active
      opacity: 1
    .t-btn
      margin: 24px auto 40px
    .t-task-item__background
      filter: none

  .t-task-item
    display: block
    &__header
      margin: 0 0 16px 0
    &__img
      width: 40px
      height: 40px
      margin: 0 8px 0 0
      float: left
    &__info
      width: 100%
      .name
        margin-bottom: 16px
      .level
        top: 0
        right: 0
      .description
        white-space: normal
        max-height: 57px
      li
        display: block
        margin: 0 0 4px
        &:last-child
          margin-bottom: 0

  .t-task-custumer_start
    flex-direction: column-reverse
  .t-task-custumer__task
    width: 100%
  .t-task-custumer__info
    display: none
    &_long
      display: block
      margin: 0 0 16px
      width: 100%
  .t-task-custumer__description
    width: 100%
  .t-task-custumer:before
    z-index: 2
    left: 0
    width: 5px
    top: 0
    bottom: 0
    border-radius: 2px 0 0 2px

  .t-participant
    overflow: hidden
    width: 100%
    min-height: 400px
    &__collumn_left
      width: 100%
      transition: all .2s
      position: relative
      flex: none
      &.fade
        opacity: 0
        left: -100px
    &__collumn_right
      width: 100%
      position: relative
      top: 0
      left: 0
      transition: left .3s
      z-index: 2
      flex: none
      &.open
        left: -100%
    &__item
      .buttons
        a
          margin-bottom: 8px

  .t-fileBox
    min-height: 0

  .t-participantBack
    color: #ffffff
    font-family: $bold
    font-size: 17px
    margin: 0 0 24px
    display: inline-block
    &:before
      content: ''
      display: inline-block
      width: 6px
      height: 10px
      background: url('../img/back.png')
      margin: 0 24px 0 8px